In [22]:
import pandas as pd
import numpy as np

# load data
df = pd.read_csv('Coffee_domestic_consumption.csv')
df_export = pd.read_csv('Coffee_export.csv')

# print(df_export.info())

In [23]:
df_transposed = df.drop(columns=['Total_domestic_consumption']).melt(id_vars=['Country', 'Coffee type'])
df_transposed['variable'] = df_transposed['variable'].replace('/[^/]*$', '', regex=True)

df_export_transposed = df_export.drop(columns=['Total_export']).melt(id_vars=['Country'])

df_transposed.rename(columns={'variable': 'Year', 'value': 'Consumption'}, inplace=True)
df_export_transposed.rename(columns={'variable': 'Year', 'value': 'Export'}, inplace=True)

df_transposed['Year'] = df_transposed['Year'].astype(int)
df_export_transposed['Year'] = df_export_transposed['Year'].astype(int)


with pd.ExcelWriter('Coffee.xlsx') as writer:  # doctest: +SKIP
    df_transposed.to_excel(writer, sheet_name='Coffee_domestic_consumption', index=False)
    df_export_transposed.to_excel(writer, sheet_name='Coffee_domestic_export', index=False)

df_export_transposed.tail(1)

       Country  Year  Export
1649  Zimbabwe  2019  360000

In [6]:
# Get only total cols
df_short = df[['Country', 'Coffee type', 'Total_domestic_consumption']]
df_export_short = df_export[['Country', 'Total_export']]

In [3]:
df_export_short.tail(1)

     Country  Total_export
54  Zimbabwe     136080000

In [4]:
df_short.to_excel('Coffee_domestic_consumption.xlsx', index=False)
df_export_short.to_excel('Coffee_domestic_export.xlsx', index=False)