# Оглавление
1. Введение в курс
   - База
   - Quality metrics
2. Модуль 2
   - Типы данных

Типы данных

## 1. Введение в курс

### База

#### Типы данных

**list** - лист/список - общепринятое название "Массив" или "Array" <br> films = ['Film_1', 'Film_1'] <br>
**set** - коллекция *уникальных* элементов. (Hash Set) <br> set_films = set(films) <br>
**dict** - он же словарь. Содержит пары ключ-значение {"ключ": 100}

Позволяет хранить набор уникальных элементов (не сортированный)
В отличие от листа - сет содержит только уникальные элементы

Задаётся сет так же как dict - при помощи фигурных скобок:
visited_cities = {'Tel-Aviv', 'Moscow', 'Vienna'}

Однако, чтобы не путать с dict - пустой сет лучше всего задавать с помощью функции
batman_parents = set()


**tuple** - то же самое, что и лист, только неизменяемый (нельзя добавлять/удалять значения)
Отличается от листа тем, что задаётся при помощи круглых скобок (либо функции tuple())
parents = ('parent #1', 'parent #2')
parents = tuple(['Mom', 'Dad'])

**None** - ничего, пусто... Обозначает отсутствие какого-либо значения

#### Time complexity

Обозначается большой буквой O с указанием в скобках как именно время операции зависит от объёма данных.
Допустим, имея одно значение некая операция занимает 2 секунды, тогда:
O(N)

2 значения - 4 секунды

3 значения - 6 секунд

4 значения - 8 секунд

и т. д.

O(N2)

2 значения - 16 секунд (2 секунды * 2 значения)2

3 значения - 36 секунд (2 cекунды * 3 значения)2

4 значения - 64 секунды

и т. д.

O(1) - не зависит от количества

2 значения - 2 секунды

3 значения - 2 секунды

4 значения - 2 секунды

и т. д.

#### Питонячие знаки и особенности

In [12]:
# 1=1 упрощение

smt = 10

# Вместо этого

if smt == True:
  0


# Пиши это:
if smt:
  0

In [16]:
# Математические знаки

numenator = 10
denominator = 5

# Так не пиши
result = numenator - denominator
print(result)

# А так пиши
result = numenator
result -= denominator
result

5

5

#### Mutable и Immutable

#### Базовые типы данных

**string** = str(). Строка с текстом. "String" или "2" это тоже строка <br>
**integer** = int(). Целое число. 1, 9 <br>
**Аналог NULL** - fax = None

In [1]:
# String. Используется для текстовых значений. Для математических операций должен быть тип int или float
age = "33"
age = int(age)
new_age = age + 1
new_age

34

## 2. Модуль

#### Функции. База

#### Функции. if / else

In [2]:
# Интересное сравнение на НЕ пустое в 1 действие
def go_shopping(is_eggs):
    if is_eggs:          # тут не нужно is, == True или что-то другое
        print("Купил десять батонов")
    else:
        print("Купил один батон")


go_shopping(True)
go_shopping(False)
go_shopping(100)
go_shopping(0)

Купил десять батонов
Купил один батон
Купил десять батонов
Купил один батон

In [3]:
# 2 варианта, как можно сделать попадание в значение:

# Только 1 вариант
# def evaluate_number(num):
#     if num > 0 and num <= 50:
#         print("number > 0")
#     elif num <= 0:
#         print("number <= 0")
#     elif num > 50 and num < 100:
#         print("number > 50")
#     elif num == 100:
#         print("number == 100")
#     elif num != 90:
#         print("number != 90")

# Все возможные варианты
def evaluate_number(num):
    if num > 0:
        print("number > 0")
    if num <= 0:
        print("number <= 0")
    if num > 50:
        print("number > 50")
    if num == 100:
        print("number == 100")
    if num != 90:
        print("number != 90")


evaluate_number(-100)
evaluate_number(0)
evaluate_number(90)
evaluate_number(100)
evaluate_number(1000)

number <= 0
number != 90
number <= 0
number != 90
number > 0
number > 50
number > 0
number > 50
number == 100
number != 90
number > 0
number > 50
number != 90

#### Математические формулы

In [4]:
a = 10
b = 4.5

subtraction = a - b
addition = a + b
multiplication = a * b
power_of = a ** b
division = a / b
floor_division = a // b
remainder = a % b

In [5]:
# Is even
def is_even(num):
    if num / 2 == num // 2:
        return True
    else:
        return False

print(is_even(2))
print(is_even(3))

True
False

In [6]:
# Високосный ли год?
def is_leap_year(year):
    if year / 4 == year // 4:
        return True
    else:
        return False

print(is_leap_year(2023))

False

#### Великая мысль
<br>

Любой проект должен:

1.   ввод данных
2.   обработка данных
3.   вывод данных

### 3. Модуль. ООП

**Основная теория**



1.   Абстракция / Abstraction -- вызов методов через self.
2.   Инкапсуляция / Encapsulation -- использование многих методов в 1 классе
3.   Наследование / Inheritence -- Переиспользуем методы родительского класса в дочернем
4.   Полиморфизм / Polymorphism -- 1 метод делает разное в разных классах

In [7]:
# Классы. Основа
class Human():
    def __init__(self, username, first_name, last_name):
        self.username = username
        self.first_name = first_name
        self.last_name = last_name

new_user = Human("@123","test_user","test")

print(new_user.username)
print(new_user.first_name)
print(new_user.last_name)

@123
test_user
test

In [8]:
# Как делать хочется, но не надо!
class Human:
    def __init__(self, a, b):
        self.first_name = a
        self.last_name = b

In [9]:
new_user = Human("John", "Doe")
print(new_user.first_name)
print(new_user.last_name)

John
Doe

In [10]:
# Немного про методы
class File:
    def __init__(self, path, filename, extension="png"):  # Method
        self.path = path
        self.filename = filename
        self.extension = extension

    def __str__(self):   # Also Method. returns a formatted path
        return f"{self.path}/{self.filename}.{self.extension}"



file1 = File(path="/Users", filename="test")
file2 = File(path="/Users/Docs", filename="test_1", extension="jpeg")

print(file1)

/Users/test.png

#### Encapsulation - Инкапсуляция

In [11]:
class BankAccount:
    def __init__(self, number, currency):
        self.number = number
        self.currency = currency
        self.amount = 0

    def __str__(self):   # Also a Method. returns a formatted path
        return f"Your number is {self.number}, amount is {self.amount} currency {self.amount}"

    def deposit(self, value):
        if value:
            # print(f"User {self.number} have credited {value}") # changed to print_account method
            self.amount = self.amount + value
            # print(f"Total amount is {self.amount} {self.currency}")

    def withdraw(self, value):
        self.amount = self.amount - value

    def print_account(self):
        print(f'Account number: {self.number}')
        print(f'Amount: {self.amount} {self.currency}')


# credit_account = BankAccount(number=2151616125251, currency='USD')
# debit_account = BankAccount(number=20919815115516, currency='USD')

# add_funded = BankAccount(number=2151616125251, currency='USD')
# add_funded.deposit(value=150)
# print(add_funded.amount)
#
# add_funded.withdraw(value=140)
# print(add_funded.amount)

account = BankAccount(number=12345, currency="USD")
account.print_account()
account.deposit(value=100)
account.print_account()
account.withdraw(value=150)
account.print_account()

Account number: 12345
Amount: 0 USD
Account number: 12345
Amount: 100 USD
Account number: 12345
Amount: -50 USD

#### Handling empty row in class

In [ ]:
# This is fine!

class MyClass:
  pass

# This is not!!

# class MyClass: