In [1]:
import pandas as pd
from tqdm import tqdm
import pandas_gbq

In [2]:
# Creating test df from .xlsx file
df = pd.read_excel('categories.xlsx')

In [3]:
df.dtypes

category                     object
amount                        int64
leftoversale_date           float64
leftover                    float64
sale_date            datetime64[ns]
id                            int64
dtype: object

In [7]:
df.shape

(700, 6)

In [ ]:
# Make sure that the table is created

In [ ]:
# Simple load, everything in one go
df.to_gbq(destination_table='margin_effective_store', project_id='kaggle-bq-249420', if_exists='replace')

In [ ]:
# batch load
def load_dataframe_to_bigquery(df, table_name, project_id, chunksize=100000):
    total_rows = len(df)
    num_batches = (total_rows + chunksize - 1) // chunksize  # Ceiling division to get the total number of batches

    # Loop over batches and load to BigQuery
    for i in tqdm(range(num_batches), desc="Loading to BigQuery", unit="batch", leave=True):
        start_idx = i * chunksize
        end_idx = min((i + 1) * chunksize, total_rows)
        batch_df = df.iloc[start_idx:end_idx]

        # Load batch_df to BigQuery
        pandas_gbq.to_gbq(batch_df, table_name, project_id=project_id, if_exists='append')

# Example usage:
# Replace 'df', 'table_name', and 'project_id' with your actual DataFrame, table name, and project ID
# load_dataframe_to_bigquery(df, 'your_table_name', 'your_project_id')